
@import 'variables';
@import 'mixins';
@import 'animations';

body {
  font-family: $font-family;
  margin: 0;
  background-color: $bg-color;
}

header, footer {
  background-color: $primary-color;
  color: $text-color;
}

header a, footer a {
  color: $text-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover, footer a:hover {
  color: $link-hover-color;
}

footer {
  text-align: center;
  padding: 10px 0;
}

footer h2 {
  margin: 0;
}

footer p {
  margin: 10px 0 0 0;
}