@import 'animations'; 

#imgheader {
    width: 100%;
    background-color: black;
    text-align: center;
    position: relative;
}

#imgheader .imgheadercont {
    background: yellow;
    display: inline-block;
    position: relative;
}

#imgheader .imgheadercont .logoheader {
    width: 100%;
    max-width: 200px;
}

#imgheader .imgheadercont .pelota {
    position: absolute;
    width: 11%;
    top: 49%;
    left: 45%;
    animation-name: giraPelota;
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#imgheader img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
