// _responsive.scss

// Mobile Styles
@media (max-width: 767px) {
    // Estilos para dispositivos móviles
    body {
      font-size: 14px;
    }
  
    header {
      display: block;
      padding: 10px;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-toggler {
      margin-bottom: 10px;
    }
  }
  
  // Tablets Styles
  @media (min-width: 768px) and (max-width: 1024px) {
    // Estilos para tablets
    body {
      font-size: 16px;
    }
  
    header {
      padding: 15px;
    }
  
    .navbar {
      flex-direction: row;
    }
  }
  
  // Desktops Styles
  @media (min-width: 1025px) {
    // Estilos para pantallas grandes
    body {
      font-size: 18px;
    }
  
    header {
      padding: 20px;
    }
  
    .navbar {
      flex-direction: row;
    }
  }